.dark-mode {
	cursor: pointer;
	background-color: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	outline: none;
}

.dark-mode::after{
	content:"";
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #F1F1F1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: .3s ease all;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0 ,.2);
}

.dark-mode > span {
	width: 30px;
	height: 30px;
	padding: 5px;
	line-height: 30px;
	background-color: none;
	color: #FFF;
}

body.dark {
	background: #00071a;
	color: #FFF;
}

body.dark header {
	background-color: #006BB9;
}

body.dark footer {
	background: #006BB9;
	color: #333;
}

body.dark .scroll {
	background-color: #FFC973;
	color: #FFF;
}


body.dark .scroll:hover {
    background-color: #00212e;
    opacity:1;filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.dark-mode.active {
	background-color: orange;
	color: #333;
}

.dark-mode.active::after {
	left: unset;
	right: 0;
}


